ads
attrs
cached-property
cachetools
certifi
charset-normalizer
google-ads>=25.2.0
google-api-core
google-auth
google-auth-oauthlib
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httpretty
idna
isodate
lxml
mock
oauthlib
pandas
platformdirs
proto-plus
protobuf
pyasn1
pyasn1-modules
python-dotenv
pytz
PyYAML>=6.0
requests
requests-file
requests-oauthlib
requests-toolbelt
rsa
six
urllib3
Werkzeug
xmltodict
zeep
python-dotenv
Flask
flask_cors
